[Unit]
Description=iptables for PortMapper
Before=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/etc/iptables/add.sh
ExecStop=/etc/iptables/rm.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
